[package]
name = "rust-chip8-opengl"
version = "0.1.0"
edition = "2021"

[dependencies]
assert_hex = "0.4.1"
rand = "0.8"
crossterm = "0.27.0"
clap = { version = "4.5.6", features = ["derive"] }
beryllium = "0.13.0"
glow = "0.13.1"
gl = "0.14.0"
glfw = "0.56.0"
kira = "0.9.2"